clusterStyles = [
	{
		url: '<f:uri.resource path="Icons/MapMarkers/Blankneedle/green.png" />',
		height: 32,
		width: 32,
		textColor: '#000',
		anchorIcon: [32, 16],
		anchorText: [-6, 0]
	},
	{
		url: '<f:uri.resource path="Icons/MapMarkers/Blankneedle/yellow.png" />',
		height: 32,
		width: 32,
		textColor: '#000',
		anchorIcon: [32, 16],
		anchorText: [-6, 0]
	},
	{
		url: '<f:uri.resource path="Icons/MapMarkers/Blankneedle/red.png" />',
		height: 32,
		width: 32,
		textColor: '#000',
		anchorIcon: [32, 16],
		anchorText: [-6, 0]
	},
];