{namespace jh = Heilmann\JhGooglemaps\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />

<jh:addJsFooterInlineCode name="tx_jhgooglemaps_uid" compress="true">
	var map;
	function initialize() {
		resizeMap();
		var mapOptions = {<f:comment>wake up!</f:comment>
			center: new google.maps.LatLng(<f:if condition="{selectedLocation}"><f:then>{selectedLocation.latLng}</f:then><f:else>{settings.merged.center}</f:else></f:if>),
			zoom: {settings.merged.zoom},
			mapTypeId: google.maps.MapTypeId.{settings.merged.mapTypeId}
		};
		<f:alias map="{mapOptions: '{f:cObject(typoscriptObjectPath: \'plugin.tx_jhgooglemaps.settings.googlemaps.mapOptions\')}'}">
			<f:if condition="{mapOptions}">
				var extendedOptions= {<f:comment>wake up!</f:comment>{mapOptions}};
				mapOptions = extend(mapOptions, extendedOptions);
			</f:if>
		</f:alias>
		map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

		<f:if condition="{settings.googlemaps.markerCluster}">
			var clusterStyles = [];
			<f:render partial="Location/ClusterStyles/{settings.googlemaps.clusterStyles}" arguments="{settings: setting, locations: locations}" />
			var mcOptions = {styles: clusterStyles, averageCenter: true,};
			var mc = new MarkerClusterer(map, [], mcOptions);
		</f:if>

		var infowindow = new google.maps.InfoWindow();

		<f:for each="{locations}" as="location">
			<f:if condition="{location.marker}">
				var markerimage_{location.marker.uid} = {
					url: '{location.marker.image.originalResource.publicUrl}',
					<f:if condition="{location.marker.size}">size: new google.maps.Size({location.marker.size}),</f:if>
					<f:if condition="{location.marker.origin}">origin: new google.maps.Point({location.marker.origin}),</f:if>
					<f:if condition="{location.marker.anchor}">anchor: new google.maps.Point({location.marker.anchor}),</f:if>
				}
			</f:if>
		</f:for>
		<f:for each="{locations}" as="location">
			marker_{location.uid} = new google.maps.Marker({
				<f:comment>wake up!</f:comment>position: new google.maps.LatLng({location.latLng}),
				map: map,
				title: "{location.title}",
				<f:if condition="{location.marker}">icon: markerimage_{location.marker.uid},</f:if>
				<f:if condition="{location.marker.shapeCoords}"><f:if condition="{location.marker.shapeType}">
					shape: {
						<f:comment>wake up!</f:comment>coords: {location.marker.shapeCoords},
						type: '{location.marker.shapeType}'
					},
				</f:if></f:if>
				<f:if condition="{location} == {selectedLocation}">animation: google.maps.Animation.BOUNCE</f:if>
			});
			<f:if condition="{settings.googlemaps.markerCluster}">
				mc.addMarker(marker_{location.uid}, false);
			</f:if>

			<f:if condition="{location.description}">
				google.maps.event.addListener(marker_{location.uid}, 'click', (function() {
					infowindow.setContent(<jh:format.trim>'
						{location.title}
						<p><f:render partial="Location/Address.html" arguments="{settings: settings, location: location}" /></p>
						<f:if condition="{location.teaser}"><p><b>{location.teaser->f:format.nl2br()}</b></p></f:if>
						<f:link.action action="map" arguments="{selectedLocation: location}" section="{location.uid}">[mehr]</f:link.action>
					'</jh:format.trim>);
					infowindow.open(map, marker_{location.uid});
				}));
			</f:if>
		</f:for>

		<f:if condition="{settings.googlemaps.markerCluster}">
			mc.repaint();
		</f:if>
	}
	google.maps.event.addDomListener(window, "load", initialize);

	function resizeMap() {
		var container = document.getElementById("map_container");
		var width = container.offsetWidth;
		var height = width * (1 / ({settings.merged.mapRatio}));
		var maxHeight = window.innerHeight * 0.7;
		if (height > maxHeight) height = maxHeight;
		container.style.height = height+"px";
		if (typeof map != 'undefined') map.setCenter(new google.maps.LatLng(<f:if condition="{selectedLocation}"><f:then>{selectedLocation.latLng}</f:then><f:else>{settings.merged.center}</f:else></f:if>));
	}

	window.onresize = resizeMap();
	if (window.DeviceOrientationEvent) {
		window.addEventListener('orientationchange', function(eventData) {
			switch(window.orientation) {
				case -90:
				case 90:
					resizeMap();
					break;
				case 0:
				case 180:
					resizeMap();
					break;
				default:
					break;
			}
		}, false);
	}
	
	/**
	 * Merge defaults with user options
	 * source: http://gomakethings.com/vanilla-javascript-version-of-jquery-extend/
	 *
	 * @private
	 * @param {Object} defaults Default settings
	 * @param {Object} options User options
	 * @returns {Object} Merged values of defaults and options
	 */
	var extend = function ( defaults, options ) {
	    var extended = {};
	    var prop;
	    for (prop in defaults) {
	        if (Object.prototype.hasOwnProperty.call(defaults, prop)) {
	            extended[prop] = defaults[prop];
	        }
	    }
	    for (prop in options) {
	        if (Object.prototype.hasOwnProperty.call(options, prop)) {
	            extended[prop] = options[prop];
	        }
	    }
	    return extended;
	};

</jh:addJsFooterInlineCode>

<div id="map_container" style="width: 100%">
	<div id="map_canvas" style="width: 100%; height:100%"></div>
</div>

<f:if condition="{selectedLocation}">
	<a name="c{selectedLocation.uid}"></a>
	<f:render partial="Location/Details" arguments="{location:selectedLocation}" />
</f:if>

</f:section>