
<table class="tx-jh-googlemaps" >
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.title" />
		</td>
		<td>
		{location.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.street" />
		</td>
		<td>
		{location.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.street_number" />
		</td>
		<td>
		{location.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.postal_code" />
		</td>
		<td>
		{location.postalCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.city" />
		</td>
		<td>
		{location.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.country" />
		</td>
		<td>
		{location.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.lat_lng" />
		</td>
		<td>
		{location.latLng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.teaser" />
		</td>
		<td>
		{location.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.description" />
		</td>
		<td>
		{location.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jhgooglemaps_domain_model_location.image" />
		</td>
		<td>
				<f:image src="{location.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>